.Sidebar{
   display: flex;
   flex-direction: column; 
   flex:0.35;
   background-color:#131C21;
    border-right-color:grey;
    border-right-style: groove;
    border-right-width: 0.1px;
}
.sidebar__header{
    display: flex;
    justify-content: space-between;
    padding:10px;
    height:30px;
    border-right: 1px solid grey;
    background-color:#2A2F32;
    align-items: center;
}
.sidebar__headerRight{
    display: flex;
    align-items: center;
    justify-content:space-between;
    min-width:10vw;  
}
.sidebar__headerRight >.MuiSvgIcon-root{
    margin-right:2vw;
    font-size:24px !important;
}
.sidebar__searchbar{
    display: flex;
    align-items: center;
    background-color:#131C21;
    height: 39px;
    padding:10px;
     border-bottom-color:grey;
    border-bottom-style: groove;
    border-bottom-width: 0.1px;
     /* border-color:grey;
    border-style: groove;
    border-bottom-width: 0.1px; */
} 
.sidebar__searchcontainer{
    display: flex;
    align-items: center;
    background-color:#323739;
    width: 100%;
    height: 35px;
    border-radius: 20px;
    /* border-width: 1px;
    border-bottom-color: aliceblue; */
   
}
.sidebar__searchcontainer >.MuiSvgIcon-root{
    padding:10px;
}
.sidebar__searchcontainer > input {
    margin-left:10px;
    border: none;
    outline-width: 0;
}
.sidebar__chats{
    border-left-width: 0.3px ;
    overflow-y: scroll;
    overflow-x: hidden;
    /* border-color:grey;
    border-style: groove;
    border-bottom-width: 0.1px; */
}